/* EmployeePage.css */
.employee-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-left: 0; /* Ensure margin is reset to start from left */
  text-align: left; /* Align text to the left */
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-table th,
.employee-table td {
  border: 1px solid  #2447ba;
  padding: 8px;
}

.employee-table th {
  background-color: #9c9fdd;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-employee-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}

.add-employee-form h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between form fields */
}

.add-employee-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.add-employee-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 1.5; /* Adjust line height for better readability */
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.insert-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.insert-button {
  background-color: #007bff;
  color: white;
}

.insert-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #ff4b4b;
  color: white;
}

.cancel-button:hover {
  background-color: #cc0000;
}

.toggle-form-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.toggle-form-button:hover {
  background-color: #45a049;
}

.add-employee-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.remove-button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #d32f2f;
}
